{% extends "todo/base.html" %}

{% block content %}
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="content-section">
                <div class="row">
                    <div class="col-12 d-flex">
                        <h3>Folders</h3>
                        <a class="btn btn-outline-primary rounded-circle ml-auto" href="{% url 'todo:create_folder' %}" style="width: 37px; height: 37px">
                            <span style="font-size:1rem;"> + </span>
                        </a>
                    </div>
                </div>
                <div class='text-muted '>Select your folder
                </div>
                <div class="list-group ">
                    {% for folder in folders %}
                        <span
                        class="list-group-item list-group-item-action d-flex align-items-center {% if folder == current_folder %}active{% endif %}">
                            <a href="{% url 'todo:folder' folder.id %}" {% if folder == current_folder %}style="color:#fff;"{% else %}style="color:#495057;"{% endif %}>
                                {{ folder.name }}
                            </a>
                            <a class="ml-auto mr-2" href="{% url 'todo:update_folder' folder.id %}" {% if folder == current_folder %}style="color:#fff;"{% else %}style="color:#495057;"{% endif %}> 🖉 </a>
                            <span class="badge badge-primary badge-pill">{{ folder.no_of_entries }}</span>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-12 d-flex ml-5 mb-4">
                    <h1>To Do</h1>
                    <a class="btn btn-primary rounded-circle ml-5" href="{% url 'todo:new_entry' %}" style="width: 46px; height: 46px">
                        <span style="font-size:1.3rem;"> + </span>
                    </a>
                </div>
            </div>
            {% for entry in current_folder.entry_set.all %}
            <div class="card mx-5 mb-4">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1 form-check">
                                <input class="form-check-input position-static" style="width: 20px; height: 20px;" type="checkbox"
                                    {% if entry.completed %} checked="checked" {% endif %} disabled>
                            </div>
                            <div class="col pl-0">
                                <h4 class="card-title"><a href="{% url 'todo:update_entry' entry.id %}">
                                    {% if entry.completed %} <del> {% endif %}
                                        {{ entry.name }}
                                    {% if entry.completed %} </del> {% endif %}
                                </a></h4>
                                <p class="card-text">{{ entry.description|linebreaks }}</p>
                                <small class="card-text float-left">{{ entry.get_priority_display }}</small>
                                <small class="card-text float-right">Due: {{ entry.due_date|date:"d M, Y - g:i A" }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
